{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>{% block title %}{% endblock %} | Haantlay</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>



    <nav class="navbar">
        <!-- <div class="container"> -->
            <div class="nav-logo col-md-2">
                <a href="/">Haantlay</a>
            </div>
            <div class="nav-links col-md-10">
                <a href="{% url 'item:new' %}" class="nav-items">New Item</a>
                <a href="{% url 'item:items' %}" class="nav-items">Browse</a>
                <a href="{% url 'conversation:inbox' %}" class="nav-items">Inbox</a>
                <a href="{% url 'dashboard:index' %}" class="nav-items">Dashboard</a>
                <!-- <a href="{% url 'core:signup' %}" class="nav-items">Sign up</a>
                <a href="{% url 'core:login' %}" class="nav-items">
                     Log in
                </a> -->
                <a href="{% url 'core:login' %}" class="login-icon"><i class="bi bi-person-plus"></i></a>
            </div>
        </div>
      </nav>
      
    <div class="px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-12 f-icons">
                    <p>Follow us</p>
                    <a href="{% url 'core:login' %}" class="footer-icon"><i class="bi bi-linkedin"></i></a>
                    <a href="{% url 'core:login' %}" class="footer-icon"><i class="bi bi-instagram"></i></a>
                    <a href="{% url 'core:login' %}" class="footer-icon"><i class="bi bi-facebook"></i></a>
                    <a href="{% url 'core:login' %}" class="footer-icon"><i class="bi bi-whatsapp"></i></a>
                </div> -->
                <div class="col-md-12 copyright">
                    <p>Copyright 2024 Haantlay. All right reserved!</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>