
{% extends 'core/base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}
{% load static %}
    <div>
          <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'im1.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'im2.png' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'im3.png' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    
    <div class="search-bar-div col-md-12">
        <div class="search-bar-box">
            <form action="{% url 'item:items' %}" method="get">
                <input type="text" name="query" class="search-bar"  value="{{ query}}" placeholder="Search the product">

                <button class="search-bar-button"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
        <h2 class="head-font">Newest items</h2>
        <div class="container my-5">
          <div class="row row-cols-1 row-cols-md-3 g-3">
              {% for item in items %}
                  <div class="col-lg-3 col-md-6 mb-4">
                    <a href="{% url 'item:detail' item.id %}" class="text-decoration-none text-dark">
                      <div class="card card-custom">
                        <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                        <div class="card-body">
                          <h2 class="card-title h5">{{ item.name }}</h2>
                          <p class="card-text text-muted">Price: {{ item.price }}</p>
                        </div>
                      </div>
                    </a>
                  </div>
                 {% endfor %} 
          </div>
        </div>




        <h2 class="head-font">Catagories</h2>

        <div class="container my-5">
          <div class="row row-cols-1 row-cols-md-3 g-3">
            {% for catagory in catagories %}
            <div class="col">
              <a href="#" class="text-decoration-none text-dark">
                <div class="card cata-card">
                  <div class="card-body cata-body">
                    <h2 class="h5">{{ catagory.name }}</h2>
                    <p class="text-muted">{{ catagory.items.count }} Items</p>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
{% endblock %}