{% extends 'core/base.html' %}

{% block title  %}Sign up{% endblock %}

{% block content  %}



<div class="form-s">
    <div class="container">

        <div class="row justify-content-center m-6">
          <div class="col-md-5 form-body">
            <h1 class=" form-text">Sign up</h1>
                <form action="." method="post">
                    {% csrf_token %}

                    
                    <div class="mb-3">
                        {{ form.username }}
                    </div>

                    
                    <div class="mb-3">
                        {{ form.email }}
                    </div>

                    <div class="mb-3">
                        {{ form.password1 }}
                    </div>

                    <div class="mb-3">
                        {{ form.password2 }}
                    </div>

                    {% if form.errors or form.non_field_errors %}
                        <div class="mb-3 p-3 bg-danger text-white rounded">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}    

                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <p class="form-p">Already signup? <a href="{% url 'core:login' %}" class="form-l"> Login!</a></p>
                    <button type="submit" class="form-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}