{% extends 'core/base.html' %}

{% block title %} {{ item.name }}{% endblock %}

{% block content %}
<div class="pro-d">    
    <div class="container">
        <div class="row">
            <div class="col-md-6 proimage">
                <img src="{{ item.image.url }}" alt="" class="pro-image image-fluid">
            </div>
            <div class="col-md-6 prodetail">
                <h1>{{ item.name }}</h1>
                <p class="pro-p"><strong>Price: </strong>{{ item.price }}</p>
                <p><strong>Username: </strong>{{ item.created_by.username }}</p>
                {% if item.description %}
                    <p class="pro-p-p">
                        <strong class="pro-s">Description</strong> <br> {{ item.description }}
                    </p>
                {% endif %}
                {% if request.user == item.created_by %}                
                    <div class="pro-det-sec">
                        <p>This is your item!</p>
                        <a href="{% url 'item:edit' item.id %}" class="c-e-btn">Edit</a>
                        <a href="{% url 'item:delete' item.id %}" class="c-d-btn">Delete Item</a>
                    </div>
                {% else %}
                    <a href="{% url 'conversation:new' item.id %}" class="c-s-btn">Contact seller</a>
                {% endif %}
            </div>
        </div>
    </div>
    
       

 
          
 

    <h2 class="head-font">Related items</h2>
    <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for item in related_items %}
              <div class="col-lg-3 col-md-6 mb-4">
                <a href="{% url 'item:detail' item.id %}" class="text-decoration-none text-dark">
                  <div class="card card-custom">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                    <div class="card-body">
                      <h2 class="card-title h5">{{ item.name }}</h2>
                      <p class="card-text text-muted">Price: {{ item.price }}</p>
                    </div>
                  </div>
                </a>
              </div>
             {% endfor %} 
      </div>
    </div>

</div>
</div>
{% endblock %} 