{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="form-a">
    <div class="container">

        <div class="row justify-content-center m-6">
          <div class="col-md-9 form-body">
            <h1 class=" form-text">{{ title }}</h1>

                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}                                       
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>                 
                    
                    {% if form.errors or form.non_field_errors %}
                        <div class="mb-3 p-3 bg-danger text-white rounded">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}    
                        
                            {{ form.non_field_errors }}
                        
                            
                        </div>
                        {% endif %}
                        <button type="submit" class="form-btnn">Add Item</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}