{% extends 'core/base.html' %}

{% block title %}Items{% endblock %}

{% block content %}
<div class="brow-div">
    <div class="search-bar-div col-md-12">
        <div class="search-bar-box">
            <form action="{% url 'item:items' %}" method="get">
                <input type="text" name="query" class="search-bar"  value="{{ query}}" placeholder="Search the product">

                <button class="search-bar-button"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
    <div class="container my-5">
        <p class="Cata-font">Sort by categories</p>
        <div class="row">
          {% for catagory in catagories %}
            <div class="col-md-4">
              <ul>
                <li class="{% if catagory.id == catagory_id %} cus-bg{% endif %} c-box">
                  <a href="{% url 'item:items' %}?query={{ query }}&catagory={{ catagory.id}}">{{ catagory.name }}</a>
                </li>
                
              </ul>
            </div>
          {% endfor %}
        </div>
        <a href="{% url 'item:items' %}" class="c-btn">Clear filters</a>
      </div>

    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-3 g-3">
            {% for item in items %}
                <div class="col-lg-3 col-md-6 mb-4">
                <a href="{% url 'item:detail' item.id %}" class="text-decoration-none text-dark">
                    <div class="card card-custom">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                    <div class="card-body">
                        <h2 class="card-title h5">{{ item.name }}</h2>
                        <p class="card-text text-muted">Price: {{ item.price }}</p>
                    </div>
                    </div>
                </a>
                </div>
            {% endfor %} 
        </div>
    </div>   
    
  </div>        
{% endblock %}