{% extends 'core/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="dash-div">
    <h2 class="head-font">My Items</h2>
    <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-3 g-3">
          {% for item in items %}
              <div class="col-lg-3 col-md-6 mb-4">
                <a href="{% url 'item:detail' item.id %}" class="text-decoration-none text-dark">
                  <div class="card card-custom">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                    <div class="card-body">
                      <h2 class="card-title h5">{{ item.name }}</h2>
                      <p class="card-text text-muted">Price: {{ item.price }}</p>
                    </div>
                  </div>
                </a>
              </div>
             {% endfor %} 
      </div>
    </div>
</div>

    
{% endblock %}